{% extends 'base.html' %}
{% load static %}

{% block content %}



<h1> Lista de Proveedores</h1>

<div class="listaProveedores">
    <h2><strong>Id</strong></h2>
    <h2><strong>Nombre</strong></h2>
    <h2><strong>Email</strong></h2>
    <h2><strong>Telefono</strong></h2>
    <h2><strong>Acciones</strong></h2>

    {% for proveedor in proveedores %}
    <p>{{proveedor.identificador}}</p>
    <p>{{proveedor.nombre}}</p>
    <p>{{proveedor.email}}</p>
    <p>{{proveedor.telefono}}</p>
    <p>
        <a href="{%url 'proveedor_app:Detalle del proveedor' proveedor.identificador%}">Ver  </a>
        <a href="{%url 'proveedor_app:Actualizar proveedor' proveedor.identificador%}">Modificar  </a>
        <a href="{%url 'proveedor_app:Baja de proveedor' proveedor.identificador%}">Eliminar</a>
    </p>
    {% endfor %}

</div>




{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Atras</a>
    {% endif %}

    {% for pagina in paginator.page_range %}
    {% ifequal pagina page_obj.number %}
        {{pagina}}
    {% else %}
        <a href="?page={{pagina}}">{{pagina}}</a>
    {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
    {% endif %}

{% endif %}

{% endblock content %}
    
