{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Lista de Clientes</h1>

<div class="listaCliente">
    <table id="tabla"> 
        <thead>
            <tr>
                <th><strong>Id</strong></th>
                <th><strong>Apellido</strong></th>
                <th><strong>Nombre</strong></th>
                <th><strong>Dni</strong></th>
                <th><strong>Acciones</strong></th>
            </tr>
        </thead>

        <tbody>
            {% for cliente in clientes %}

            <tr>
                <td>{{cliente.identificador}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.documento}}</td>
                
                <td>
                    <a href="{%url 'cliente_app:Detalle del cliente' cliente.identificador%}">Ver  </a>
                    <a href="{%url 'cliente_app:Actualizar cliente' cliente.identificador%}">Modificar  </a>
                    <a href="{%url 'cliente_app:Baja de cliente' cliente.identificador%}">Eliminar</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>




{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Atras</a>
    {% endif %}

    {% for pagina in paginator.page_range %}
    {% ifequal pagina page_obj.number %}
        {{pagina}}
    {% else %}
        <a href="?page={{pagina}}">{{pagina}}</a>
    {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
    {% endif %}

{% endif %}

{% endblock content %}
    

