{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Lista de Productos</h1>

<table>
<thead>
<tr>
<th>Identificador</th>
<th>Descripcion</th>
<th>Precio</th>
<th>Marca</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>
    {% for producto in productos %}
    <tr>
    <td>{{ producto.identificador }}</td>
    <td>{{ producto.descripcion }}</td>
    <td>{{ producto.precio }}</td>
    <td>
    {{producto.marca}}
    </td>
    <td>{{ producto.proveedor.nombre }}</td>
    <td>
    <a href="{% url 'producto_app:Detalle del producto' producto.identificador %}">Ver</a>
    <a href="{% url 'producto_app:Actualizar producto' producto.identificador %}">Modificar</a>
    <a href="{% url 'producto_app:Eliminar Producto' producto.identificador %}">Eliminar</a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

   
    


{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Atras</a>
    {% endif %}

    {% for pagina in paginator.page_range %}
    {% ifequal pagina page_obj.number %}
        {{pagina}}
    {% else %}
        <a href="?page={{pagina}}">{{pagina}}</a>
    {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
    {% endif %}

{% endif %}

{% endblock content %}