body{
    background-color: rgb(212, 160, 185);
}

.listaCliente{
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto auto auto;
}



.listaProducto{
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto auto auto;
}


.listaProveedores{
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto auto auto;
}
