{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script  src="{% static 'js/popper.min.js' %}"></script>
    <script  src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script  src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<title>Proyecto Kiosco</title>
   
</head>

<body>
    <div class="container mt-3">

        {% block home %}
        {% endblock home %}

        {% block panel %}
        {% endblock panel %}

        {% block content %}
        {% endblock content %}

    </div>
    
</body>
</html>

